#### joe made this: https://goel.io/joe

#####=== OSX ===#####
.DS_Store
.AppleDouble
.LSOverride

# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build
bundle.js

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
